.header {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
