.header {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: space-between;
}

.trybewarts-login , .coluna1 , .coluna2 {
  display: flex;
}

.coluna3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.coluna4 {
  display: flex;
  align-items: flex-start;
}
