.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

header img {
  width: 50px;
}

.trybewarts-login , .coluna1 , .coluna2 , .coluna5 {
  display: flex;
}

#fieldEmail , #fieldSenha {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 5px;
  text-align: center;
}

#fieldSenha {
  width: 150px;
}

#btn-login {
  background-color: rgb(105, 89, 204);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-weight: 900;
  width: 100px;
}

.coluna3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.coluna4 {
  display: flex;
  align-items: flex-start;
}

.concordo {
  display: flex;
  align-items: center;
}
